*{
    margin: 0;
}
@keyframes animate {
    0% {

        background-image: url(https://technoque.com/img/revolution-slider/kenburns/kenburns5.jpg);

        background-size: cover;
    }

    50% {

        background-image: url(https://technoque.com/img/revolution-slider/kenburns/kenburns4.jpg);
        background-size: cover;

    }

    100% {

        background-image: url(https://technoque.com/img/revolution-slider/kenburns/kenburns1.jpg);
        background-size: cover;

    }
}
html{
   scroll-behavior: smooth;

}



.container1 {
    height: 550px;
    width: 1250px;
    background-image: url(technoque_img.jpg);
    background-size: cover;
    animation-name: animate;
    animation-duration: 15s;
    animation-timing-function: none;
    animation-delay: 0;
    animation-iteration-count: 1;


}


.navbar {

    font-weight: bolder;
    font-family: sans-serif;
    position: sticky;
    top: 0px;
    height: 60px;
    width: 1250px;
    background-color: black;
    font-size: 10px;
    display: flex;
    justify-content: end;
    position: fixed;

    div {
        padding-left: 15px;
        align-content: center;

    }

    a {

        text-decoration: none;
        color: white;
    }

}

.logo {

    position: fixed;
    left: 0px;
    padding-right: 80px;
    padding-left: 0px;


}




a:hover {
    color: #17a2b8;
}



.logo {
    position: relative;
    left: 20px;
}

a {
    justify-content: space-evenly;
    font-size: 15px;
    padding-right: 40px;
    position: relative;
    top: 0px;
}



.main1 {
    font-size: 60px;
    color: aliceblue;
    font-weight: bolder;
    position: absolute;
    left: 350px;
    top: 250px;
    font-family: sans-serif;


}

.main2 {
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    left: 500px;
    top: 390px;
    font-family: sans-serif;


}


.main3 {
    font-size: 10px;
    height: 30px;
    width: 200px;
    background-color: #69bdd2;
    COLOR: WHITE;
    font-weight: bolder;
    font-family: sans-serif;
    position: absolute;
    left: 500px;
    top: 470px;
    border-radius: 40px;
    border:border-box;
      padding-top: 15px;
      padding-left: 30px;
      padding-right: 30px;
      
}


#container2 {
    height: 800px;
    width: 1250px;
    background-color: black;
    border-top: 20px solid #69bdd2;
    color: white;
    font-family: sans-serif;
}

.container2_a {
    color: #69bdd2;
    ;
    font-size: 70px;
    text-align: center;
    padding-top: 70px;
    font-weight: 700;
}

.container2_b {
    font-size: 10px;
    font-weight: 300;
    position: relative;
    left: 560px;
    top: 10px;
}

.line {
  
    justify-content: center;
    justify-content: space-evenly;

    #line1 {
        width: 500px;
        border-top: 1px solid white;
        position: relative;
       
        top: 30px;
    }
    i{
        position:relative;
        top:25px;
    }
}

.box {
    height: 500px;
    width: 1100px;

    position: relative;
    left: 100px;

}

.box1 {
    font-weight: bolder;
    width: 600px;
    padding-bottom: 40px;
}

.box2 {
    font-size: 10px;
    width: 600px;
    top: 90px;
    padding-top: 20px;
    font-size: 15px;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.box3 {
    display: flex;
    width: 600px;
    font-size: 15px;
    padding-top: 20px;
    justify-content: space-between;

}

.box4 {
    width: 600px;
    font-size: 10px;
    padding-top: 25px;
    font-size: 15px;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.box5 {

    font-size: 15px;
    height: 40px;
    width: 150px;
    font-weight: bolder;
    background-color: #69bdd2;
    font-family: sans-serif;
    border-radius: 20px;
    align-content: center;
    padding-left: 30px;
    margin-top: 20px;

}

.box_line {
    width: 600px;
    border-top: 1px solid white;
}

.box6 {
    height: 320px;
    width: 475px;
    border: 2px solid #69bdd2;
    border-radius: 4px;
    position: absolute;
    left: 650px;
    top: 10px;
    padding-top: 25px;
}



.container3 {

    height: 800px;
    width: 1250px;
    background-color: black;
    border-top: 20px solid #69bdd2;
    color: white;
    font-family: sans-serif;

}

.img_animate {
    height: 450px;
    width: 420px;
    border-radius: 50%;
    border: 8px solid #69bdd2;
    position: relative;
    top: 80px;
    left: 100px;
    background-image: url(techno_ritesh2.gif);
    background-size: cover;
}

.animate_box {
    height: 600px;
    width: 600px;
    border-radius: 4px;
    position: absolute;
    left: 600px;
    top: 1460px;
    color: wheat;
    font-family: sans-serif;

}

.animate_box_a {
    color: white;
    font-size: 45px;
    text-align: start;
    font-weight: 900;
    text-transform: uppercase;
}

.animate_box_b {
    color: #69bdd2;
    font-size: 30px;
    text-align: start;
    text-transform: uppercase;
    position: relative;
    top: 15px;
}

.animate_box_c {
    color: rgb(225, 215, 198);
    font-size: 12px;
    text-align: start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 65px;
    line-height: 25px;
}

.animate_box_d {
    color: rgb(225, 215, 198);
    font-size: 12px;
    text-align: start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 350px;
    padding-left: 25px;
    line-height: 25px;

}

.animate_box_d1 {

    height: 250px;
    width: 100px;
    position: relative;
    border-left: 5px solid #69bdd2;
    position: relative;
    top: 90px;
    left: 0px;
}


#container4 {

    height: 1300px;
    width: 1250px;
    background-color: black;
    border-top: 20px solid #69bdd2;
    color: white;
    font-family: sans-serif;



}

.container4_a {
    color: #69bdd2;
    ;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    padding-top: 70px;
    font-weight: bolder;
}

.container4_b {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: 500px;
    top: 10px;
}

.line {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

    #line1 {
        height: 100px;
        width: 400px;
        border-top: 1px solid white;
        position: relative;
        display: flex;
        top: 45px;
    }
}

.flip_box {
    height: 1000px;
    width: 1100px;
    position: relative;
    left: 60px;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    color: rgb(225, 215, 198);
    line-height: 25px;


}

.flip_box1 {
    height: 400px;
    width: 300px;
    position: relative;
    left: 40px;
    top: 70px;
    background-color: rgb(16, 17, 16);
    align-content: center;
    margin-right: 30px;
    padding: 10px;


}

.flip_box1:hover {
    background-color: #25292a;
    border-radius: 20px;
}

.flip_box_a {
    font-weight: bolder;
    font-size: 20px;
}


.flip_box5_a {
    padding-top: 0px;
}

.container5 {
    height: 500px;
    width: 1250px;
    background-image: url(https://i.pinimg.com/736x/30/8f/2f/308f2fd627c36e007527bc50337f6c7b.jpg);
    background-size: cover;

    font-family: sans-serif;
    position: relative;
    align-content: center;

}

.container5_a {
    height: 60px;
    width: 1250px;

    color: rgb(60, 181, 194);
    font-size: 60px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;

}

.container5_b {
    height: 20px;
    width: 1250px;
    color: rgb(225, 215, 198);
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;

}

.container5_c {
    height: 100px;
    width: 900px;
    color: rgb(225, 215, 198);
    padding-top: 50px;
    position: relative;
    left: 100px;
    font-size: 10px;
    line-height: 30px;
}

.container5_d {
    height: 40px;
    width: 1250px;
    color: rgb(60, 181, 194);
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}

.container5_e {
    height: 20px;
    width: 1250px;
    color: rgb(225, 215, 198);
    text-align: center;
    font-size: 15px;
}

.container5_f {
    height: 20px;
    width: 90px;
    position: relative;
    left: 570px;
    top: 20px;
    display: flex;
    justify-content: space-between;
}

.container5_f_1 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(225, 215, 198);
}

.container5_f_2 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(225, 215, 198);
}

.container5_f_3 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(225, 215, 198);
}

.container5_f_4 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(225, 215, 198);
}

#container6 {
    height: 1100px;
    width: 1250px;
    background-color: black;
    border-top: 20px solid #69bdd2;
    color: white;
    font-family: sans-serif;
}

.container6_a {
    color: #69bdd2;
    ;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    padding-top: 70px;
    font-weight: bolder;
}

.container6_b {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: 520px;
    top: 10px;
}

.line {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

    #line1 {
        height: 100px;
        width: 400px;
        border-top: 1px solid white;
        position: relative;
        display: flex;
        top: 45px;
    }
}

.container6_box {
    height: 800px;
    width: 1100px;
    position: absolute;
    justify-content: center;
    left: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.container6_box1 {
    height: 350px;
    width: 300px;
    position: relative;
    left: 40px;

    padding: 10px;
}

.container6_box1_a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    color: #69bdd2;
    line-height: 20px;
    padding-top: 10px;

}

.container6_box1_b {

    font-size: 15px;
    line-height: 20px;
    padding-top: 10px;
    text-align: start;
}

.container6_box2 {
    height: 350px;
    width: 300px;
    position: relative;
    left: 40px;




}

.container6_box2_a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    color: #69bdd2;
    line-height: 20px;
    padding-top: 10px;

}

.container6_box2_b {

    font-size: 15px;
    line-height: 20px;
    padding-top: 10px;
    text-align: start;
}

.container6_box3 {
    height: 350px;
    width: 300px;
    position: relative;
    left: 40px;



}

.container6_box3_a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    color: #69bdd2;
    line-height: 20px;
    padding-top: 10px;

}

.container6_box3_b {

    font-size: 15px;
    line-height: 20px;
    padding-top: 10px;
    text-align: start;
}

.container6_box4 {
    height: 350px;
    width: 300px;
    position: relative;
    left: 40px;



}

.container6_box4_a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    color: #69bdd2;
    line-height: 20px;
    padding-top: 10px;

}

.container6_box4_b {

    font-size: 15px;
    line-height: 20px;
    padding-top: 10px;
    text-align: start;
}

.container6_box5 {
    height: 350px;
    width: 300px;
    position: relative;
    left: 40px;



}

.container6_box5_a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    color: #69bdd2;
    line-height: 20px;
    padding-top: 10px;

}

.container6_box5_b {

    font-size: 15px;
    line-height: 20px;
    padding-top: 10px;
    text-align: start;
}

.container6_box6 {
    height: 350px;
    width: 300px;
    position: relative;
    left: 40px;

}

.container6_box6_a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    color: #69bdd2;
    line-height: 20px;
    padding-top: 10px;

}

.container6_box6_b {

    font-size: 15px;
    line-height: 20px;
    padding-top: 10px;
    text-align: start;
}


.container7 {
    height: 550px;
    width: 1250px;
    background-image: url(techno_ritesh5.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.container7_a {
    color: #69bdd2;
    ;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    padding-top: 60px;
    font-weight: bolder;
}

.container7_b {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: 520px;
    top: 10px;
}

.container7_c {
    height: 320px;
    width: 900px;
    position: relative;
    left: 170px;
    top: 50px;
    display: flex;


}

.container7c_1 {
    height: 320px;
    width: 220px;



}

.container7c_2 {
    height: 320px;
    width: 220px;


}

.container7c_3 {
    height: 320px;
    width: 220px;




}

.container7c_4 {
    height: 320px;
    width: 220px;


}

.container7c_1_a {
    color: #69bdd2;
    font-size: 50px;
    text-align: center;
    font-weight: 1000;


}

.container7c_1_b {
    font-size: 20px;
    text-align: center;
    font-weight: 1000;


}

.container7c_2_a {
    color: #69bdd2;
    font-size: 50px;
    text-align: center;
    font-weight: 1000;
}

.container7c_2_b {
    font-size: 20px;
    text-align: center;
    font-weight: 1000;


}

.container7c_3_a {
    color: #69bdd2;
    font-size: 50px;
    text-align: center;
    font-weight: 1000;
}

.container7c_3_b {
    font-size: 20px;
    text-align: center;
    font-weight: 1000;


}

.container7c_4_a {
    color: #69bdd2;
    font-size: 50px;
    text-align: center;
    font-weight: 1000;
}

.container7c_4_b {
    font-size: 20px;
    text-align: center;
    font-weight: 1000;


}

#container8 {
    height: 800px;
    width: 1250px;
    background-color: black;
    border-top: 20px solid #69bdd2;
    color: white;
    font-family: sans-serif;
}

.container8_a {
    color: #69bdd2;
    ;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    padding-top: 70px;
    font-weight: bolder;
}

.container8_b {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: 550px;
    top: 10px;
}

.line {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

    #line1 {
        height: 100px;
        width: 400px;
        border-top: 1px solid white;
        position: relative;
        display: flex;
        top: 45px;
    }
}

.container8_box {
    height: 400px;
    width: 1100px;
    justify-content: space-evenly;
    position: absolute;
    left: 80px;
    display: flex;

}

.container8_box_1 {
    height: 400px;
    width: 250px;
    border-radius: 20px;
}

.container8_box_2 {
    height: 400px;
    width: 250px;
    border-radius: 20px;

}

.container8_box_3 {
    height: 400px;
    width: 250px;
    border-radius: 20px;
}

.container8_box_4 {
    height: 400px;
    width: 250px;
    border-radius: 20px;
}

.container8_box_1_b {
    height: 40px;
    width: 250px;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    background-color: rgb(15, 14, 14);
    text-transform: uppercase;
    font-weight: 700;
    color: #69bdd2;


}

.container8_box_1_c {
    height: 40px;
    width: 250px;
    text-align: center;
    font-size: 10px;
    padding-top: 20px;
    background-color: rgb(15, 14, 14);
    border-bottom: 20px;

}

.container8_box_1_a1 {
    height: 120px;
    width: 250px;
    border-top: 5px solid #69bdd2;

}

.container9 {
    height: 800px;
    width: 1250px;

    background-image: url(https://lushdollar.com/wp-content/uploads/2018/12/free-laptop.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.container9_a {
    color: #69bdd2;
    ;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    padding-top: 70px;
    font-weight: 800;

}

.container9_b {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: 580px;
    top: 30px;
    font-weight: 500;
    color: aliceblue;

}

.container9_c {
    height: 100px;
    width: 700px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    left: 350px;
    top: 60px;
    font-weight: 500;
    line-height: 30px;
    color: rgb(232, 213, 182);
    align-self: center;

}

.container9_d {
    position: relative;

    input {
        display: block;
        padding-right: 100px;
        padding-left: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
        position: relative;
        left: 400px;
        top: 40px;
        border-radius: 10px;
        border: 8px solid #5fb6cb;
    }

    ;

    input:hover {
        background-color: #69bdd2;

        color: aliceblue;
    }

    ;
}
.container9_e {
    height: 40px;
    width: 300px;
    display: inline-block;
}

button {
    display: block;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #69bdd2;
    color: whitesmoke;
    border-radius: 40px;
    position: relative;
    left: 500px;
    top: 70px;

}

button:hover {
    background-color: #008ed5;
}


#container10 {
    height: 1100px;
    width: 1250px;
    background-color: black;
    border-top: 20px solid #69bdd2;
    color: white;
    font-family: sans-serif;
}

.container10_a {
    color: #69bdd2;
    ;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    padding-top: 70px;
    font-weight: bolder;
}

.container10_b {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: 350px;
    top: 20px;
}

.line {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

    #line1 {
        height: 100px;
        width: 400px;
        border-top: 1px solid white;
        position: relative;
        display: flex;
        top: 50px;
    }
    i{
        position: relative;
        top:30px;
    }
}

.container10_box {
    height: 800px;
    width: 1100px;
    justify-content: space-evenly;
    position: absolute;
    left: 80px;
    display: flex;
    flex-wrap: wrap;
}

.container10_box_1 {
    height: 350px;
    width: 300px;
}

.container10_box_1_a {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 700;
    padding-top: 20px;
}

.container10_box_1_a:hover {
    color: #69bdd2;
}

.container10_box_1_b {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    padding-top: 20px;
}

.container10_box_1:hover {
    transform: scale(1.1, 1.1);
}


.container11 {
    height: 600px;
    width: 1250px;
    background-image: url(techno_ritesh7.jpg);
    background-size: cover;
    color: rgb(225, 215, 198);
    font-family: sans-serif;

}

.container11_a {
    color: #69bdd2;
    ;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    padding-top: 70px;
    font-weight: bolder;
}

.container11_b {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: 450px;
    top: 20px;
}

.container11_c {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    left: 300px;
    top: 70px;
    height: 100px;
    width: 700px;
    line-height: 20px;
    align-self: center;
    font-weight: 400;
}

.container11_d {

    position: relative;
    left: 400px;
    top: 40px;
}

#container12 {
    height: 800px;
    width: 1250px;
    background-color: black;
    border-top: 20px solid #69bdd2;
    color: white;
    font-family: sans-serif;

    a {
        font-size: larger;
        text-decoration: none;
        color: rgb(26, 72, 112);
        left: 500px;
        height: 100px;
        width: 500px;
        background-color: white;
        border-radius: 10px;
        border: 10px solid #69bdd2;
    }

    ;

    a:hover {
        color: #44a9c3;
    }

}


.container12_a {
    color: #69bdd2;
    ;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    padding-top: 70px;
    font-weight: bolder;
}

.container12_b {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: 540px;
    top: 10px;
}


.container12_c {
    height: 350px;
    width: 1200px;
    position: absolute;
    justify-content: center;
    left: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px solid white;

}

.container12_d {
    height: 200px;
    width: 1100px;
    position: relative;
    top: 230px;
    left: 100px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.container12_d_1 {
    height: 180px;
    width: 500px;
    position: relative;
    top: 20px;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    background-color: rgb(66, 73, 66);
    border-radius: 10px;

}

.container12_d_2 {
    height: 180px;
    width: 500px;
    position: relative;
    top: 20px;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(66, 73, 66);
    border-radius: 10px;


}

.container12_d_1_a {
    height: 50px;
    width: 370px;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    position: relative;
    left: 20px;
   


}

.container12_d_1_b {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 400px;
    top: 40px;



}

.container12_d_1_c {
    height: 100px;
    width: 300px;
    font-size: 15px;
    line-height: 30px;
    position: relative;
    left: 20px;
}

.container13 {
    height: 800px;
    width: 1250px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    background-image: url(techno_ritesh10.jpg);
    background-size: cover;
}

.container13_a {
    color: #69bdd2;
    font-size: 60px;
    text-align: center;
    padding-top: 70px;
    font-weight: bolder;
}

.container13_b {

    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: 540px;
    top: 10px;
}

.container13_c1 {
    position: relative;
    display: inline-block;
    position: relative;
    top: 30px;

    input {
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: white;
        position: relative;
        left: 300px;
        top: 40px;
        border-radius: 20px;
        border: 5px solid #5fb6cb;
        margin-right: 20px;
    }

    ;

    input:hover {
        background-color: #69bdd2;
        color: beige;
    }

}

.container13_d {

    position: relative;
    top: 120px;
    left: 280px;

    textarea {
        border: 5px solid #5fb6cb;
        border-radius: 20px;

    }
}

.container13_e {
    display: inline-block;

    button {
        display: block;
        padding-right: 100px;
        padding-left: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #69bdd2;
        color: whitesmoke;
        border-radius: 40px;
        position: relative;
        left: 480px;
        top: 150px;
        font-size: 20px;
        font-weight: bold;
    }

    button:hover {
        background-color: #008ed5;
    }
}

.container14 {
    height: 300px;
    width: 1250px;
    color: bisque;
    font-family: sans-serif;
    background-color: black;
}

.container14_a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding-top: 100px;
    text-align: center;


}

.container14_b {
    font-size: 15px;
    padding-top: 20px;
    text-align: center;

}

.container14_c {
    height: 50px;
    width: 200px;
    display: inline-block;
    justify-content: center;
    position: row;

    position: relative;
    left: 500px;
    top: 30px;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;

}

.container14_c_1 {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: none;
}


.container14_c_1:hover {
    rotate: x 90deg;

}

.arrow_circle {
    color: #69bdd2;
    position: fixed;
    right: 20px;
    bottom: 60px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #69bdd2;

    a {
        position: relative;
        left: 7px;
        text-decoration: none;
        color: #69bdd2;
        font-size: 25px;
    }
}

.arrow_circle:hover {
    background-color: #ffffff;

}